p {
    font-family: arial, sans-serif;
    color: white;
}

* {
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: blue;
}

.button {
    text-align: center;
    position: relative;
    height: inherit;
    max-width: 150px;
    width: 10%;
    background-color: #00d13b;
}

.button:hover {
    background-color: #00b834;
}

.menu {
    display: none;
    width: 100%;
    position: absolute;
    background-color: red;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.option {
    width: inherit;
    height: 50px;
    background-color: red;
    margin: 0 auto;
    overflow: hidden;
}

.button:hover .menu {
    display: block;
}

.option:hover {
    background-color: orange;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: cyan;
}

.columns {
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
}

.mid {
    width: 500px;
    background-color: magenta;
    height: inherit;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.footer {
    width: 100%;
    background-color: black;
    height: 200px;
}
