html
    head
        title= 'Project Content'
        style
            include ./project.css
    body
        //- content (or whatever I end up calling it) will store an image and a title
        //- they will be of a fixed size
        a(href='https://buzzfeed.com')
            div.content
                img.img(src='/pic.jpg')
                h2= 'Title'
